[submodule "rust/rustlings"]
	path = rust/rustlings
	url = git@github.com:optimizasean/rustlings.git
[submodule "wasm/watlings"]
	path = wasm/watlings
	url = git@github.com:optimizasean/watlings.git
[submodule "ruby/Depot"]
	path = ruby/Depot
	url = git@github.com:optimizasean/Depot.git
[submodule "zig/ziglings"]
	path = zig/ziglings
	url = git@github.com:optimizasean/ziglings.git
[submodule "unity/UnityFinal"]
	path = unity/UnityFinal
	url = git@github.com:optimizasean/UnityFinal.git
[submodule "unity/UnityInteractiveDevicesItems"]
	path = unity/UnityInteractiveDevicesItems
	url = git@github.com:optimizasean/UnityInteractiveDevicesItems.git
[submodule "unity/UnityThirdPerson"]
	path = unity/UnityThirdPerson
	url = git@github.com:optimizasean/UnityThirdPerson.git
[submodule "unity/UnityGUI"]
	path = unity/UnityGUI
	url = git@github.com:optimizasean/UnityGUI.git
[submodule "unity/UnityPlatformer"]
	path = unity/UnityPlatformer
	url = git@github.com:optimizasean/UnityPlatformer.git
[submodule "unity/UnityWar"]
	path = unity/UnityWar
	url = git@github.com:optimizasean/UnityWar.git
[submodule "unity/UnityCards"]
	path = unity/UnityCards
	url = git@github.com:optimizasean/UnityCards.git
[submodule "unity/UnityFPS"]
	path = unity/UnityFPS
	url = git@github.com:optimizasean/UnityFPS.git
[submodule "ruby/toy_app"]
	path = ruby/toy_app
	url = git@github.com:optimizasean/toy_app.git
[submodule "ruby/hello_app"]
	path = ruby/hello_app
	url = git@github.com:optimizasean/hello_app.git
[submodule "ruby/sample_app"]
	path = ruby/sample_app
	url = git@github.com:optimizasean/sample_app.git
[submodule "typescript/pro-essentials-workshop"]
	path = typescript/pro-essentials-workshop
	url = git@github.com:optimizasean/pro-essentials-workshop.git
