[submodule "rust/rustlings"]
	path = rust/rustlings
	url = git@github.com:optimizasean/rustlings.git
[submodule "wasm/watlings"]
	path = wasm/watlings
	url = git@github.com:optimizasean/watlings.git
[submodule "ruby/Depot"]
	path = ruby/Depot
	url = git@github.com:optimizasean/Depot.git
[submodule "zig/ziglings"]
	path = zig/ziglings
	url = git@github.com:optimizasean/ziglings.git
